JWT_SECRET="your_secret_token"
PORT=3000
MONGO_URI = "your_mongodb_uri"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
OPTI_URL = "opti_url"
CLOUDINARY_CLOUD_NAME = "cloudinary_cloud_name"
CLOUDINARY_API_KEY = "cloudinary_api_key"
CLOUDINARY_API_SECRET = "cloudinary_api_secret"